@media screen and (max-width: 1000px) {
    #login-wapper{
        width:80%;
        margin:300px auto 0;
        box-shadow:2px 5px 5px #9e9e9e;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    .header{
        width:100%;
        height:90px;
        background: #4d99ed;
        font-size: 32px;
        color: #fff;
        line-height: 90px;
        text-align: center;
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
    }
    .content{
        box-sizing: border-box;
        width: 100%;
        height:700px;
        background: #ececec;
        padding:37px 45px 0;
        text-align: center;
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
    }
    .user,.pwd{
        display: flex;
        justify-content: center;
        width: 90%;
        border-bottom: 1px solid #fcfcfe;
        margin: 0 auto;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .pwd{
        margin-top: 17px;
    }
    .user-icon,.pwd-icon{
        box-sizing: border-box;
        width:92px;
        height: 92px;
        line-height: 92px;
        border-right: 1px solid #fcfcfe;
        background: #4d99ed;
        -webkit-border-radius: 6px 0 0 6px;
        -moz-border-radius: 6px 0 0 6px;
        border-radius: 6px 0 0 6px;
    }
    .icon-user,.icon-pwd{
        color: #fff;
        font-size: 40px;
    }
    .user-text,.pwd-text{
        box-sizing: border-box;
        width:80%;
        height: 92px;
        border:none;
        -webkit-border-radius:0 6px 6px 0;
        -moz-border-radius:0 6px 6px 0;
        border-radius:0 6px 6px 0;
        font-size:28px;
        color: #000;
        background: #dcdcdc;
        text-indent: 10px;
        box-shadow:inset 0px 1px 1px #d1d1d1;
    }
    .remember{
        display: flex;
        justify-content: center;
        align-content: center;
        margin:35px 0;
        font-size: 30px;
    }
    #checkbox-remember{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .submit{
        width: 50%;
        margin: 0 auto;
    }
    .btn{
        width: 100%;
    }
    .prompt{
        display: flex;
        justify-content: center;
        align-content: center;
        color: red;
        font-size: 30px;
        margin-top: 35px;
    }
}